import {ExtensionPoint, render} from '@shopify/argo';
import {Stack, TextField} from '@shopify/argo/components';

render(ExtensionPoint.<%= extensionPoint %>, (root, extensionApis) => {
  const stack = root.createComponent(Stack);
  const textField = root.createComponent(TextField, {
    value: 'From my app',
    onAfterChange(value) {
      textField.updateProps({
        value,
      });
    },
  });

  stack.appendChild(textField);
  root.appendChild(stack);

  root.mount();
});
