import React from 'react';
import {ExtensionPoint} from '@shopify/argo';
import {render} from '@shopify/argo-react';
import {Stack} from '@shopify/argo-react/components';

function App() {
  return (
    <Stack>Hello world!</Stack>
  );
}

render(ExtensionPoint.<%= extensionPoint %>, (extensionApis) => <App />);
